# App dependencies
talisker[gunicorn]==0.14.3
Flask==1.0.2
canonicalwebteam.discourse_docs==0.1.1
canonicalwebteam.http==0.1.6
canonicalwebteam.yaml_responses[flask]==1.1.0

# Development dependencies
black
blinker # Flask-Testing is not pulling it
coverage
Flask-Testing==0.7.1
requests-mock==1.5.2
requests-cache==0.4.13
responses==0.10.6
