canonicalwebteam.http==0.1.6
requests-mock==1.5.2
requests-cache==0.4.13
pyyaml==3.13
yamlordereddictloader==0.4.0
Flask==1.0.2
beautifulsoup4==4.6.3
prometheus-flask-exporter==0.2.0
humanize==0.5.1
python-dateutil==2.7.3
statsd<3.3.0
gunicorn[gevent]
talisker==0.9.14
black==18.6b4
responses==0.9.0
