# App dependencies
talisker[gunicorn]==0.14.2
Flask==1.0.2
canonicalwebteam.discourse_docs==0.1.1
canonicalwebteam.http==0.1.6
canonicalwebteam.yaml_responses[flask]==1.1.0
requests-mock==1.5.2
requests-cache==0.4.13
yamlordereddictloader==0.4.0
beautifulsoup4==4.7.1
humanize==0.5.1
python-dateutil==2.7.5
responses==0.10.5

# Development dependencies
black
blinker # Flask-Testing is not pulling it
coverage
Flask-Testing==0.7.1
