// content wrapper
.wrapper {
  padding: 1rem;

  .docs & {
    padding: 0;
  }

  @media only screen and (min-width: $breakpoint-medium) {
    padding: 0;
  }
}

.row {
  padding-top: 40px;
  padding-bottom: 20px;

  @media only screen and (min-width: $breakpoint-medium) {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

.strip-dark {
  background: $cool-grey;
  color: $white;

  a {
    color: $white;
  }
}

// row-grey override
.row-grey {
  border: 0;
  margin-top: -1px;
}

// grid list over ride
.grid-list__item {

  img {
    width: 60px;
  }

  h3 {
    font-size: 1.25rem;
  }
}

// illustrative diagram
.diagram {
  padding: 0 1.5rem;

  img {
    width: 100%;
  }

  &--wide {
    width: 100%;
  }
}

// inline code blocks
.command-inline {
  position: relative;
  display: inline;
  border-radius: 4px;
  background-color: none;
  overflow: hidden;
  font-size: 1em;
  font-family: Ubuntu Mono;
  font-weight: 300;
  padding: 0;
  width: 100%;
}

// complementing note

.complementing-note {
  margin: 1rem auto 1rem;
  text-align: center;
  font-style: italic;
  width: 100%;

  @media only screen and (min-width: $breakpoint-medium) {
    max-width: 60%;
  }
}
