@mixin vf-external-link-icon($color) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.75em' height='0.75em' viewBox='0 0 16 16' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='#{$color}' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='#{$color}' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='#{$color}' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E");
}

// For browsers that support CSS masks
@mixin vf-mask-supported {
  // Used for links point at a different domain
  ul li a {
    &.external,
    &.external:link,
    &.external:link:hover {
      background: none;
      &::after {
        -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23111' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E") no-repeat 0 0 / cover; //sass-lint:disable-line no-vendor-prefixes
        background-color: currentColor;
        content: '';
        margin: 0 0 0 .25em;
        mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23111' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E") no-repeat 0 0 / cover;
        padding-right: .75em;
      }
    }
  }
}

// For browsers that don't support CSS masks
@mixin vf-mask-unsupported {
  // Used for links that point to a different domain
  ul li a {
    &.external,
    &.external:link,
    &.external:link:hover {
      @include vf-external-link-icon(vf-url-friendly-color($white));
      background-position: top right;
      background-repeat: no-repeat;
      background-size: .75em;
      margin-top: -.25em;
      padding: .25em 1em 0 0;
    }
  }
}

.banner {
  $navigation-border-color: lighten($color-navigation-background, 20%);
  $navigation-hover-color: darken($color-navigation-background, 8%); // from #252525 to #111

  background: $color-navigation-background;
  max-width: $site-max-width;
  border-bottom: none;

  .nav-toggle {
    background-image: url('#{$asset-server}80cc6363-navigation-menu-plain.svg');
  }

  .logo {
    max-height: 2rem;
    min-height: 1.5rem;
    margin-top: .5rem;
    margin-left: 1.5rem;
  }

  .nav-primary {
    min-height: 3rem;
    
    @supports (mask-size: 1em) or (-webkit-mask-size: 1em) { //sass-lint:disable-line no-vendor-prefixes
      @include vf-mask-supported;
    }

    @supports not ((mask-size: 1em) or (-webkit-mask-size: 1em)) { //sass-lint:disable-line no-vendor-prefixes
      @include vf-mask-unsupported;
    }

    @media (min-width: 620px + 1) {
      ul {
        li {
          border: none;

          @media only screen and (min-width: 620px) {
            &.active,
            &:hover {
              background-color: $navigation-hover-color;
            }
            
            &.active {
              box-shadow: 0 -3px 0 rgba(250, 99, 64, 1) inset;
            }
          }

          // sass-lint:disable nesting-depth
          &:last-child {
            border-right: none;
          }

          a,
          a:link,
          a:visited {
            border: {
              left: 1px solid transparent;
              right: none;
              top: none;
              bottom: none;
            };
            color: $white;

            &:link,
            &:visited {
              font-size:1em;
              color: $white;
            }

            &:hover,
            &:link:hover {
              background: transparent;
            }
            // sass-lint:enable nesting-depth
            padding: .75rem 1rem;
          }
        }
      }
    }

    @media only screen and (min-width: calc($site-max-width + 2rem)) {
      padding: 0;
    }

    .docs & {
      max-width: $site-max-width;
      margin: 0 auto;
      padding: 0;
    }
  }
}
