@charset "utf-8";

// Settings
// ===

// colour definitions
$color-brand: #00302f; // TODO: this is a temprary brand colour
$color-accent: $color-brand;
$color-navigation-background: #333;

// Increase paragraph max-width to accommodate iframes
$p-max-width: 52em;

// Custom docs styling
$grid-max-width: 64.875rem;
$content-padding: 0 5%;
$sidebar-width: 18rem;
$toc-width: 12rem;

// Imports
// ===

// vanilla patterns
@import 'vanilla-framework/scss/vanilla';
@include vanilla;

// Overrides from snapcraft.io
@import 'snapcraft_p-navigation';
@include snapcraft-p-navigation;
@import 'snapcraft_footer';
@include snapcraft-footer;
@import 'patterns_social-icons';
@include p-social-icons;

// Local custom elements
@import 'layout_docs';
@import 'patterns_sidenav';

// Modules
@import 'hljs-default';

// Vanilla fixes
// ===

// Fix for long words overflowing to create vertical scrollbars
// https://github.com/vanilla-framework/vanilla-framework/issues/1985
p, li {
  word-break: break-word;
}

// Fix Vanilla <blockquote> spacing
// https://github.com/vanilla-framework/vanilla-framework/issues/1988
blockquote {
  & > :last-child {
    margin-bottom: 0;
  }

  padding-bottom: 0.4rem;
  margin-bottom: 1.1rem;
}

// Reset HighlightJS styling for <code> blocks
// (they clash with Vanilla styling)
// https://github.com/vanilla-framework/vanilla-framework/issues/1987
.hljs {
  padding: 0;
  background: none;
}

// Discourse adds "emoji" <img>s, which are huge
// They need to be constrained
.emoji {
  height: 1rem;
}

// Discourse adds "lightbox" markup to images, including "meta" elements.
// We need to make them look reasonable
.lightbox-wrapper {
  padding-top: 0.4rem;
  margin-bottom: 1.1rem;
}
.meta {
  display: none;
}
// Vanilla adds margin-top: -1.1rem, which messes up spacing on empty <p>s
// https://github.com/vanilla-framework/vanilla-framework/issues/2019
p:empty + p:not(.p-muted-heading), p + p:not(.p-muted-heading):empty, p:empty + p:not(.p-muted-heading):empty {
  margin-top: 0;
}

// Improve heading stylez
.docs-title, .docs-title[class^='p-strip'] {
  @media only screen and (min-width: 1030px) {
    padding-bottom: 0;
    background-color: transparent;
  }

  @media only screen and (max-width: 1030px) {
    padding-bottom: 0;
    background-color: transparent;
  }
}
.docs-title__heading {
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-mid-light;
}

// Snapcraft background from snapcraft.io
// https://github.com/canonical-websites/snapcraft.io/blob/b4537986010ced5297f9549831c010bd334e2caf/static/sass/_snapcraft_banner.scss#L4
.snapcraft-banner-background {
  background-color: #e5eeee;
  background-image: url(https://assets.ubuntu.com/v1/9689339a-snapcraft-hero-background--light.png);
  background-position: 50% 0;
  background-size: 1440px 1440px;
}
