@charset "utf-8";

// Settings
// ===

// colour definitions
$color-brand: #00302f; // TODO: this is a temprary brand colour
$color-accent: $color-brand;
$color-navigation-background: #252525;

// Increase paragraph max-width to accommodate iframes
$p-max-width: 52em;

// Custom docs styling
$breakpoint-medium: 900px;
$grid-max-width: 64.875rem;
$content-padding: 0 5%;
$sidebar-width: 18rem;
$toc-width: 12rem;

// Imports
// ===

// vanilla patterns
@import 'vanilla-framework/scss/vanilla';
@include vanilla;

// Overrides from snapcraft.io
@import 'snapcraft_p-navigation';
@include snapcraft-p-navigation;
@import 'snapcraft_footer';
@include snapcraft-footer;
@import 'patterns_social-icons';
@include p-social-icons;

// Overrides for docs layout
@import 'vf-overrides';

// Modules
@import 'hljs-default';

// Custom styles
// ===
pre {
  padding: 0;

  code {
    padding: 0.5rem 1rem;
    display: block;
  }
}

code {
  white-space: normal;
}

blockquote {
  & > :last-child {
    margin-bottom: 0;
  }

  padding-bottom: 0.4rem;
  margin-bottom: 1.1rem;
}

.docs-container {
  display: flex;
  flex-wrap: wrap;
}

.document-footer {
  color: #666;
}

.emoji {
  height: 1rem;
}
