{% extends "base.html" %}
{% block title %}500 - server error{% endblock %}
{% block body %}
  <main class="p-content" id="main-content">
    <div class="p-strip--light is-shallow">
      <div class="p-content__row">
        <h1 class="u-no-margin--bottom" style="line-height: 100px;">
          <img style="float: right; vertical-align: middle" width="100" src="https://assets.ubuntu.com/v1/bcdcf2c8-image-404.svg" alt="Error owl" />
          500: Server error
        </h1>
      </div>
    </div>

    <div class="p-strip is-shallow">
      <div class="p-content__row">
        <p class="p-heading--four">{{ message or "Something's gone wrong, try reloading." }}</p>
      </div>
    </div>
  </main>
{% endblock %}
