{% extends "base.html" %}

{% block body %}
  <div class="row documentation no-border">
    <nav class="documentation__nav">
      {{ nav_html | safe }}
    </nav>
    <main>
      <header class="documentation__header">
        <h1 id="introduction">{{ title }}</h1>
      </header>
      <div class="documentation__content">
        {{ body_html | safe }}
      </div>
      <footer class="documentation__footer">
        <p>Help improve this document <a href="{{ forum_link }}">in the forum</a>.</p>
        <p>Last updated {{ updated }}.</p>
      </section>
    </main>
  </div>
{% endblock %}
