<ul>
  <li>
    <h3>Using</h3>

    <ul>
      <li><a href="/getting-started">Getting started</a></li>
      <li><a href="/channels">Channels</a></li>
      <li><a href="/commands-and-aliases">Commands and aliases</a></li>
      <li><a href="/service-management">Service management</a></li>
      <li><a href="/configuration-in-snaps">Configuration in snaps</a></li>
      <li><a href="/system-options">System options</a></li>
      <li><a href="/the-snap-directory">The /snap directory</a></li>
      <li><a href="/enabling-swap-on-ubuntu-core">Enabling swap on Ubuntu Core</a></li>
      <li><a href="/boot-modes-in-ubuntu-core">Ubuntu Core boot mode explained</a></li>
    </ul>
  </li>

  <li>
    <h3>Publishing</h3>
    
    <ul>
      <li><a href="/the-snap-format">The snap format</a></li>
      <li><a href="/the-gadget-snap">The gadget snap</a></li>
      <li><a href="/the-kernel-snap">The kernel snap</a></li>
      <li><a href="/the-content-interface">The content interface</a></li>
      <li><a href="/the-dbus-interface">The dbus interface</a></li>
      <li><a href="/the-desktop-interfaces">The desktop interfaces</a></li>
      <li><a href="/supported-snap-hooks">Supported hooks</a></li>
      <li><a href="/process-for-aliases-auto-connections-and-tracks">Permission requests</a></li>
      <li><a href="/tab-completion-for-snaps">Tab completion</a></li>
      <li><a href="/clean-build-using-lxc">Building with LXD</a></li>
      <li><a href="/build-on-docker">Building with Docker</a></li>
      <li><a href="/remote-reusable-parts">Building reusable parts</a></li>
      <li>
        <a href="/snapcraft-plugins">Snapcraft plugins</a>
        <ul>
          <li><a href="/the-maven-plugin">Maven</a></li>
          <li><a href="/gradle-plugin">Gradle</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
